html, body{
    margin: 0;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9ECEF;
    height: 100%;
}

/* NAV */
nav{
    background-color: #7253B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 286px;
}
    .divNav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #F8F9FA;
        padding: 15px;
        border: 2px solid #F8F9FA;
        box-sizing: border-box;
        border-radius: 5px;
        width: 348px;
        height: 203px;
    }
        #caption{
            font-family: "Inter";
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
        }
        #textPesquisar{
            background-color: #F5F5F5;
            color:  #868E96;
            font-family: "Inter";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;  
            width: 309px;
            height: 60px;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px 15px;
            border: 2px solid #F5F5F5;
            box-sizing: border-box;
            border-radius: 8px;
        }
        #buttonPesquisar{
            background-color: #7253B0;
            color: #F5F5F5;
            width: 309px;
            height: 60px;
            margin-top: 10px;
            padding: 15px 30px 15px 30px;
            border: 2px solid #7253B0;
            box-sizing: border-box;
            border-radius: 8px;
            cursor: pointer;
        }
        #buttonPesquisar:hover{
            background-color: #7253b0d5;
        }
        .linkNav{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            width: 309px;
            height: 30px;
            font-size: 12px;
            align-items: center;
            margin-top: 10px;
        }
            .linkNav a{
                display: flex;
                align-items: center;
                justify-content: center;
                background: #F1EEF8;
                text-decoration: none;
                width: 79px;
                height: 18px;
                padding: 3px 3px;
            }
            .linkNav a:hover{
                background: #c1a7ff;
                color: #fff;
            }

/* SECTION */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21px;
}
    .sectionImg{
        width: 353px;
        height: 256px;
        border-radius: 5px;
    }
        .sectionImg figure, img{
            width: 100%;
            height: 100%;
        }
        figcaption{
            display: none;
        }
        .sectionImg img{
            border-radius: 5px;
        }
        
    .sectionDescricao1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 66px;
        margin: 10px 0px;
    }
        .sectionDescricao{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            width: 316px;
            height: 66px;
            background: #FFFFFF;
            border: 1.5px solid #F8F9FA;
            box-sizing: border-box;
            box-shadow: 0px 3px 30px 7px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
        }
            #blocoRoxo{
                background-color: #7253B0;
                width: 22px;
                height: 4px;
            }
            #title{
                font-family: "Poppins";
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 10px;
                color: #333333;
                padding: 5px 0px;
            }
            .sectionDescricao span{
                font-family: "Poppins";
                font-style: normal;
                font-weight: normal;
                font-size: 7px;
                line-height: 12px;
                color: #878787;
            }

        .sectionSetas{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
            .sectionDescricao1 div button{
                background: #7253B0;
                color: #FFFFFF;
                width: 35px;
                height: 27px;
                margin: 3px;
                border: 1.5px solid #7253B0;
                box-sizing: border-box;
                border-radius: 4px;
                font-family: "Font Awesome 5 Free";
                font-style: normal;
                font-weight: 900;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                cursor: pointer;
            }
            .sectionDescricao1 div button:hover{
                background: #7253b0d9;
            }

@media (min-width: 1024px){
    .divNav{
        width: 786px;
        height: 153px;
        padding: 20px;
    }
    .linkNav{
        margin-top: 15px;
    }
    #separaPesquisa{
        display: flex;
        justify-content: space-between;
    }
    #textPesquisar{
        width: 567px;
    }
    #buttonPesquisar{
        width: 156px;
    }
    
}